{% extends "base.html" %}
{% block title %}StudenTracker{% endblock %}
{% block body %}
    <table class="table table-striped table-hover table-bordered table-dark">
        <thead>
            <tr>
                <th>Name</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody class="">
            {% for student in Students %}
                <tr>
                    <td><a href="/student/?sid={{ student.id }}">{{ student.name }}</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}